# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dir/ → その階層以下のどこかにある dir を無視
# **/dir/ → どの階層でも確実に無視
# /dir/ → root直下だけ

# ======================
# OS
# ======================
.DS_Store

# ======================
# Node / Next
# ======================
**/node_modules/
.next/
out/
build
*.tsbuildinfo
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# ======================
# Debug
# ======================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# ======================
# Environment
# ======================
.env*
!.env.example

# ======================
# Python
# ======================
**/venv/
**/.venv/
**/__pycache__/
**/*.py[cod]
**/.pytest_cache/
**/.mypy_cache/

# ======================
# Logs
# ======================
**/logs/
*.log

# ======================
# Coverage
# ======================
.coverage
htmlcov/
coverage

# ======================
# Vercel
# ======================
.vercel